# Explore here

It's recommended to use this notebook for exploration purposes.

For example: 

1. You could import the CSV generated by python into your notebook and explore it.
2. You could connect to your database using `pandas.read_sql` from this notebook and explore it.

In [1]:
import pandas as pd
import requests 
import sqlite3
from bs4 import BeautifulSoup

In [2]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data = requests.get(url).text
#html_data

In [3]:
soup = BeautifulSoup(html_data,"html.parser")
#soup

In [4]:
tablas = soup.findAll("table")

In [5]:
tablas

# con ctrl F buscamos la palabra clave "Revenue"

#

[<table class="historical_data_table table">
 <thead>
 <tr>
 <th colspan="2" style="text-align:center">Tesla Annual Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center">2021</td>
 <td style="text-align:center">$53,823</td>
 </tr>
 <tr>
 <td style="text-align:center">2020</td>
 <td style="text-align:center">$31,536</td>
 </tr>
 <tr>
 <td style="text-align:center">2019</td>
 <td style="text-align:center">$24,578</td>
 </tr>
 <tr>
 <td style="text-align:center">2018</td>
 <td style="text-align:center">$21,461</td>
 </tr>
 <tr>
 <td style="text-align:center">2017</td>
 <td style="text-align:center">$11,759</td>
 </tr>
 <tr>
 <td style="text-align:center">2016</td>
 <td style="text-align:center">$7,000</td>
 </tr>
 <tr>
 <td style="text-align:center">2015</td>
 <td style="text-align:center">$4,046</td>
 </tr>
 <tr>
 <td style="text-align:center">2014</td>
 <td style="text-align:center">$3,198</td>
 </tr>
 <tr>
 <td style="text-align:center">2013</td>
 <td style="text-align:center">$2,013</td>
 </tr>
 <tr>
 <td style="text-align:center">2012</td>
 <td style="text-align:center">$413</td>
 </tr>
 <tr>
 <td style="text-align:center">2011</td>
 <td style="text-align:center">$204</td>
 </tr>
 <tr>
 <td style="text-align:center">2010</td>
 <td style="text-align:center">$117</td>
 </tr>
 <tr>
 <td style="text-align:center">2009</td>
 <td style="text-align:center">$112</td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th colspan="2" style="text-align:center">Tesla Quarterly Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center">2022-03-31</td>
 <td style="text-align:center">$18,756</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-12-31</td>
 <td style="text-align:center">$17,719</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-09-30</td>
 <td style="text-align:center">$13,757</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-06-30</td>
 <td style="text-align:center">$11,958</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-03-31</td>
 <td style="text-align:center">$10,389</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-12-31</td>
 <td style="text-align:center">$10,744</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-09-30</td>
 <td style="text-align:center">$8,771</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-06-30</td>
 <td style="text-align:center">$6,036</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-03-31</td>
 <td style="text-align:center">$5,985</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-12-31</td>
 <td style="text-align:center">$7,384</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-09-30</td>
 <td style="text-align:center">$6,303</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-06-30</td>
 <td style="text-align:center">$6,350</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-03-31</td>
 <td style="text-align:center">$4,541</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-12-31</td>
 <td style="text-align:center">$7,226</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-09-30</td>
 <td style="text-align:center">$6,824</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-06-30</td>
 <td style="text-align:center">$4,002</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-03-31</td>
 <td style="text-align:center">$3,409</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-12-31</td>
 <td style="text-align:center">$3,288</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-09-30</td>
 <td style="text-align:center">$2,985</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-06-30</td>
 <td style="text-align:center">$2,790</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-03-31</td>
 <td style="text-align:center">$2,696</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-12-31</td>
 <td style="text-align:center">$2,285</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-09-30</td>
 <td style="text-align:center">$2,298</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-06-30</td>
 <td style="text-align:center">$1,270</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-03-31</td>
 <td style="text-align:center">$1,147</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-12-31</td>
 <td style="text-align:center">$1,214</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-09-30</td>
 <td style="text-align:center">$937</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-06-30</td>
 <td style="text-align:center">$955</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-03-31</td>
 <td style="text-align:center">$940</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-12-31</td>
 <td style="text-align:center">$957</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-09-30</td>
 <td style="text-align:center">$852</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-06-30</td>
 <td style="text-align:center">$769</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-03-31</td>
 <td style="text-align:center">$621</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-12-31</td>
 <td style="text-align:center">$615</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-09-30</td>
 <td style="text-align:center">$431</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-06-30</td>
 <td style="text-align:center">$405</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-03-31</td>
 <td style="text-align:center">$562</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-12-31</td>
 <td style="text-align:center">$306</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-09-30</td>
 <td style="text-align:center">$50</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-06-30</td>
 <td style="text-align:center">$27</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-03-31</td>
 <td style="text-align:center">$30</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-12-31</td>
 <td style="text-align:center">$39</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-09-30</td>
 <td style="text-align:center">$58</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-06-30</td>
 <td style="text-align:center">$58</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-03-31</td>
 <td style="text-align:center">$49</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-12-31</td>
 <td style="text-align:center">$36</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-09-30</td>
 <td style="text-align:center">$31</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-06-30</td>
 <td style="text-align:center">$28</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-03-31</td>
 <td style="text-align:center">$21</td>
 </tr>
 <tr>
 <td style="text-align:center">2009-12-31</td>
 <td style="text-align:center"></td>
 </tr>
 <tr>
 <td style="text-align:center">2009-09-30</td>
 <td style="text-align:center">$46</td>
 </tr>
 <tr>
 <td style="text-align:center">2009-06-30</td>
 <td style="text-align:center">$27</td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th style="text-align:center">Sector</th>
 <th style="text-align:center">Industry</th>
 <th style="text-align:center">Market Cap</th>
 <th style="text-align:center">Revenue</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center"><a href="https://www.macrotrends.net/stocks/sector/5/auto-tires-trucks">Auto/Tires/Trucks</a></td>
 <td style="text-align:center"><a href="https://www.macrotrends.net/stocks/industry/7/">Auto Manufacturers - Domestic</a></td>
 <td style="text-align:center">$763.945B</td>
 <td style="text-align:center">$53.823B</td>
 </tr>
 <tr>
 <td colspan="4" style="padding:15px;">
 <span>Tesla is the market leader in battery-powered electric car sales in the United States, with roughly 70% market share. The company's flagship Model 3 is the best-selling EV model in the United States. Tesla, which has managed to garner the reputation of a gold standard over the years, is now a far bigger entity that what it started off since its IPO in 2010, with its market cap crossing $1 trillion for the first time in October 2021.? The EV king's market capitalization is more than the combined value of legacy automakers including Toyota, Volkswagen, Daimler, General Motors and Ford.Over the years, Tesla has shifted from developing niche products for affluent buyers to making more affordable EVs for the masses. The firm's three-pronged business model approach of direct sales, servicing, and charging its EVs sets it apart from other carmakers. Tesla, which is touted as the clean energy revolutionary automaker, is much more than just a car manufacturer.</span>
 </td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th style="text-align:center; width:40%;">Stock Name</th>
 <th style="text-align:center; width:20%;">Country</th>
 <th style="text-align:center; width:20%;">Market Cap</th>
 <th style="text-align:center; width:20%;">PE Ratio</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/GM/general-motors/revenue">General Motors (GM)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$50.776B</td>
 <td style="text-align:center">5.02</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/F/ford-motor/revenue">Ford Motor (F)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$48.277B</td>
 <td style="text-align:center">9.38</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/PII/polaris/revenue">Polaris (PII)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$6.400B</td>
 <td style="text-align:center">13.23</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/HOG/harley-davidson/revenue">Harley-Davidson (HOG)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$4.834B</td>
 <td style="text-align:center">7.83</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/IAA/iaa/revenue">IAA (IAA)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$4.772B</td>
 <td style="text-align:center">14.36</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/FSR/fisker/revenue">Fisker (FSR)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$2.728B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/LEV/lion-electric/revenue">Lion Electric (LEV)</a></td>
 <td style="text-align:center">Canada</td>
 <td style="text-align:center">$0.896B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/VLTA/volta/revenue">Volta (VLTA)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$0.280B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/ZEV/lightning-emotors/revenue">Lightning EMotors (ZEV)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$0.273B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/BRDS/bird-global/revenue">Bird Global (BRDS)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$0.155B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 </tbody>
 </table>,
 <table class="table">
 <thead>
 <tr>
 <th>Link Preview</th>
 <th>HTML Code (Click to Copy)</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td><a>Tesla Revenue 2010-2022 | TSLA</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Tesla Revenue 2010-2022 | TSLA&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Macrotrends</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Macrotrends&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Source</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Source&lt;/a&gt;"/></td>
 </tr>
 </tbody>
 </table>,
 <table class="table">
 <thead>
 <tr>
 <th>Link Preview</th>
 <th>HTML Code (Click to Copy)</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td><a>Tesla Revenue 2010-2022 | TSLA</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Tesla Revenue 2010-2022 | TSLA&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Macrotrends</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Macrotrends&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Source</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Source&lt;/a&gt;"/></td>
 </tr>
 </tbody>
 </table>]

In [6]:
for i, tabla in enumerate(tablas):
    if ("Tesla Quarterly Revenue" in str(tabla)): 
        indice_que_busco = i 
#enumerate me asigna un índice y el contenido que encuentra
df = pd.DataFrame(columns=["date","revenue"])

In [7]:
tablas[indice_que_busco]

<table class="historical_data_table table">
<thead>
<tr>
<th colspan="2" style="text-align:center">Tesla Quarterly Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">2022-03-31</td>
<td style="text-align:center">$18,756</td>
</tr>
<tr>
<td style="text-align:center">2021-12-31</td>
<td style="text-align:center">$17,719</td>
</tr>
<tr>
<td style="text-align:center">2021-09-30</td>
<td style="text-align:center">$13,757</td>
</tr>
<tr>
<td style="text-align:center">2021-06-30</td>
<td style="text-align:center">$11,958</td>
</tr>
<tr>
<td style="text-align:center">2021-03-31</td>
<td style="text-align:center">$10,389</td>
</tr>
<tr>
<td style="text-align:center">2020-12-31</td>
<td style="text-align:center">$10,744</td>
</tr>
<tr>
<td style="text-align:center">2020-09-30</td>
<td style="text-align:center">$8,771</td>
</tr>
<tr>
<td style="text-align:center">2020-06-30</td>
<td style="text-align:center">$6,036</td>
</tr>
<tr>
<td style="text-align:center">2020-03-31</td>
<td style="text-align:center">$5,985</td>
</tr>
<tr>
<td style="text-align:center">2019-12-31</td>
<td style="text-align:center">$7,384</td>
</tr>
<tr>
<td style="text-align:center">2019-09-30</td>
<td style="text-align:center">$6,303</td>
</tr>
<tr>
<td style="text-align:center">2019-06-30</td>
<td style="text-align:center">$6,350</td>
</tr>
<tr>
<td style="text-align:center">2019-03-31</td>
<td style="text-align:center">$4,541</td>
</tr>
<tr>
<td style="text-align:center">2018-12-31</td>
<td style="text-align:center">$7,226</td>
</tr>
<tr>
<td style="text-align:center">2018-09-30</td>
<td style="text-align:center">$6,824</td>
</tr>
<tr>
<td style="text-align:center">2018-06-30</td>
<td style="text-align:center">$4,002</td>
</tr>
<tr>
<td style="text-align:center">2018-03-31</td>
<td style="text-align:center">$3,409</td>
</tr>
<tr>
<td style="text-align:center">2017-12-31</td>
<td style="text-align:center">$3,288</td>
</tr>
<tr>
<td style="text-align:center">2017-09-30</td>
<td style="text-align:center">$2,985</td>
</tr>
<tr>
<td style="text-align:center">2017-06-30</td>
<td style="text-align:center">$2,790</td>
</tr>
<tr>
<td style="text-align:center">2017-03-31</td>
<td style="text-align:center">$2,696</td>
</tr>
<tr>
<td style="text-align:center">2016-12-31</td>
<td style="text-align:center">$2,285</td>
</tr>
<tr>
<td style="text-align:center">2016-09-30</td>
<td style="text-align:center">$2,298</td>
</tr>
<tr>
<td style="text-align:center">2016-06-30</td>
<td style="text-align:center">$1,270</td>
</tr>
<tr>
<td style="text-align:center">2016-03-31</td>
<td style="text-align:center">$1,147</td>
</tr>
<tr>
<td style="text-align:center">2015-12-31</td>
<td style="text-align:center">$1,214</td>
</tr>
<tr>
<td style="text-align:center">2015-09-30</td>
<td style="text-align:center">$937</td>
</tr>
<tr>
<td style="text-align:center">2015-06-30</td>
<td style="text-align:center">$955</td>
</tr>
<tr>
<td style="text-align:center">2015-03-31</td>
<td style="text-align:center">$940</td>
</tr>
<tr>
<td style="text-align:center">2014-12-31</td>
<td style="text-align:center">$957</td>
</tr>
<tr>
<td style="text-align:center">2014-09-30</td>
<td style="text-align:center">$852</td>
</tr>
<tr>
<td style="text-align:center">2014-06-30</td>
<td style="text-align:center">$769</td>
</tr>
<tr>
<td style="text-align:center">2014-03-31</td>
<td style="text-align:center">$621</td>
</tr>
<tr>
<td style="text-align:center">2013-12-31</td>
<td style="text-align:center">$615</td>
</tr>
<tr>
<td style="text-align:center">2013-09-30</td>
<td style="text-align:center">$431</td>
</tr>
<tr>
<td style="text-align:center">2013-06-30</td>
<td style="text-align:center">$405</td>
</tr>
<tr>
<td style="text-align:center">2013-03-31</td>
<td style="text-align:center">$562</td>
</tr>
<tr>
<td style="text-align:center">2012-12-31</td>
<td style="text-align:center">$306</td>
</tr>
<tr>
<td style="text-align:center">2012-09-30</td>
<td style="text-align:center">$50</td>
</tr>
<tr>
<td style="text-align:center">2012-06-30</td>
<td style="text-align:center">$27</td>
</tr>
<tr>
<td style="text-align:center">2012-03-31</td>
<td style="text-align:center">$30</td>
</tr>
<tr>
<td style="text-align:center">2011-12-31</td>
<td style="text-align:center">$39</td>
</tr>
<tr>
<td style="text-align:center">2011-09-30</td>
<td style="text-align:center">$58</td>
</tr>
<tr>
<td style="text-align:center">2011-06-30</td>
<td style="text-align:center">$58</td>
</tr>
<tr>
<td style="text-align:center">2011-03-31</td>
<td style="text-align:center">$49</td>
</tr>
<tr>
<td style="text-align:center">2010-12-31</td>
<td style="text-align:center">$36</td>
</tr>
<tr>
<td style="text-align:center">2010-09-30</td>
<td style="text-align:center">$31</td>
</tr>
<tr>
<td style="text-align:center">2010-06-30</td>
<td style="text-align:center">$28</td>
</tr>
<tr>
<td style="text-align:center">2010-03-31</td>
<td style="text-align:center">$21</td>
</tr>
<tr>
<td style="text-align:center">2009-12-31</td>
<td style="text-align:center"></td>
</tr>
<tr>
<td style="text-align:center">2009-09-30</td>
<td style="text-align:center">$46</td>
</tr>
<tr>
<td style="text-align:center">2009-06-30</td>
<td style="text-align:center">$27</td>
</tr>
</tbody>
</table>

In [8]:
for fila in tablas[indice_que_busco].tbody.find_all("tr"):
    datos= fila.find_all("td")

datos

[<td style="text-align:center">2009-06-30</td>,
 <td style="text-align:center">$27</td>]

In [9]:
datos[0]

In [10]:
datos[1].text

'$27'

In [12]:
for fila in tablas[indice_que_busco].tbody.find_all("tr"):
    datos= fila.find_all("td")
    if len(datos)>0:
        fecha=datos[0].text
        revenue=datos[1].text.replace("$","").replace(",","")
        df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
df.tail()

/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)
/tmp/ipykernel_1291/1938067873.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"date":fecha,"revenue":revenue},ignore_index=True)

           date revenue
99   2010-06-30      28
100  2010-03-31      21
101  2009-12-31
102  2009-09-30      46
103  2009-06-30      27

In [13]:
df=df[df["revenue"]!=""]

In [14]:
df.tail()

           date revenue
98   2010-09-30      31
99   2010-06-30      28
100  2010-03-31      21
102  2009-09-30      46
103  2009-06-30      27

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
records = df.to_records(index=False)
list_of_tuples = list(records)
list_of_tuples

[('2022-03-31', '18756'),
 ('2021-12-31', '17719'),
 ('2021-09-30', '13757'),
 ('2021-06-30', '11958'),
 ('2021-03-31', '10389'),
 ('2020-12-31', '10744'),
 ('2020-09-30', '8771'),
 ('2020-06-30', '6036'),
 ('2020-03-31', '5985'),
 ('2019-12-31', '7384'),
 ('2019-09-30', '6303'),
 ('2019-06-30', '6350'),
 ('2019-03-31', '4541'),
 ('2018-12-31', '7226'),
 ('2018-09-30', '6824'),
 ('2018-06-30', '4002'),
 ('2018-03-31', '3409'),
 ('2017-12-31', '3288'),
 ('2017-09-30', '2985'),
 ('2017-06-30', '2790'),
 ('2017-03-31', '2696'),
 ('2016-12-31', '2285'),
 ('2016-09-30', '2298'),
 ('2016-06-30', '1270'),
 ('2016-03-31', '1147'),
 ('2015-12-31', '1214'),
 ('2015-09-30', '937'),
 ('2015-06-30', '955'),
 ('2015-03-31', '940'),
 ('2014-12-31', '957'),
 ('2014-09-30', '852'),
 ('2014-06-30', '769'),
 ('2014-03-31', '621'),
 ('2013-12-31', '615'),
 ('2013-09-30', '431'),
 ('2013-06-30', '405'),
 ('2013-03-31', '562'),
 ('2012-12-31', '306'),
 ('2012-09-30', '50'),
 ('2012-06-30', '27'),
 ('2012-03-31', '30'),
 ('2011-12-31', '39'),
 ('2011-09-30', '58'),
 ('2011-06-30', '58'),
 ('2011-03-31', '49'),
 ('2010-12-31', '36'),
 ('2010-09-30', '31'),
 ('2010-06-30', '28'),
 ('2010-03-31', '21'),
 ('2009-09-30', '46'),
 ('2009-06-30', '27'),
 ('2022-03-31', '18756'),
 ('2021-12-31', '17719'),
 ('2021-09-30', '13757'),
 ('2021-06-30', '11958'),
 ('2021-03-31', '10389'),
 ('2020-12-31', '10744'),
 ('2020-09-30', '8771'),
 ('2020-06-30', '6036'),
 ('2020-03-31', '5985'),
 ('2019-12-31', '7384'),
 ('2019-09-30', '6303'),
 ('2019-06-30', '6350'),
 ('2019-03-31', '4541'),
 ('2018-12-31', '7226'),
 ('2018-09-30', '6824'),
 ('2018-06-30', '4002'),
 ('2018-03-31', '3409'),
 ('2017-12-31', '3288'),
 ('2017-09-30', '2985'),
 ('2017-06-30', '2790'),
 ('2017-03-31', '2696'),
 ('2016-12-31', '2285'),
 ('2016-09-30', '2298'),
 ('2016-06-30', '1270'),
 ('2016-03-31', '1147'),
 ('2015-12-31', '1214'),
 ('2015-09-30', '937'),
 ('2015-06-30', '955'),
 ('2015-03-31', '940'),
 ('2014-12-31', '957'),
 ('2014-09-30', '852'),
 ('2014-06-30', '769'),
 ('2014-03-31', '621'),
 ('2013-12-31', '615'),
 ('2013-09-30', '431'),
 ('2013-06-30', '405'),
 ('2013-03-31', '562'),
 ('2012-12-31', '306'),
 ('2012-09-30', '50'),
 ('2012-06-30', '27'),
 ('2012-03-31', '30'),
 ('2011-12-31', '39'),
 ('2011-09-30', '58'),
 ('2011-06-30', '58'),
 ('2011-03-31', '49'),
 ('2010-12-31', '36'),
 ('2010-09-30', '31'),
 ('2010-06-30', '28'),
 ('2010-03-31', '21'),
 ('2009-09-30', '46'),
 ('2009-06-30', '27')]

In [18]:
# Use the connect() function of sqlite3 to create a database. It will create a connection object.

connection = sqlite3.connect('Tesla.db')

In [19]:
 #Let's create a table in our database to store our revenue values.

c = connection.cursor()

# Create table
c.execute('''CREATE TABLE revenue
             (Date, Revenue)''')

In [20]:
# Insert the values
c.executemany('INSERT INTO revenue VALUES (?,?)', list_of_tuples)
# Save (commit) the changes
connection.commit()

In [21]:
#Now retrieve the data from the database

for row in c.execute('SELECT * FROM revenue'):
    print(row)

('2022-03-31', '18756')
('2021-12-31', '17719')
('2021-09-30', '13757')
('2021-06-30', '11958')
('2021-03-31', '10389')
('2020-12-31', '10744')
('2020-09-30', '8771')
('2020-06-30', '6036')
('2020-03-31', '5985')
('2019-12-31', '7384')
('2019-09-30', '6303')
('2019-06-30', '6350')
('2019-03-31', '4541')
('2018-12-31', '7226')
('2018-09-30', '6824')
('2018-06-30', '4002')
('2018-03-31', '3409')
('2017-12-31', '3288')
('2017-09-30', '2985')
('2017-06-30', '2790')
('2017-03-31', '2696')
('2016-12-31', '2285')
('2016-09-30', '2298')
('2016-06-30', '1270')
('2016-03-31', '1147')
('2015-12-31', '1214')
('2015-09-30', '937')
('2015-06-30', '955')
('2015-03-31', '940')
('2014-12-31', '957')
('2014-09-30', '852')
('2014-06-30', '769')
('2014-03-31', '621')
('2013-12-31', '615')
('2013-09-30', '431')
('2013-06-30', '405')
('2013-03-31', '562')
('2012-12-31', '306')
('2012-09-30', '50')
('2012-06-30', '27')
('2012-03-31', '30')
('2011-12-31', '39')
('2011-09-30', '58')
('2011-06-30', '58')
('2011-03-31', '49')
('2010-12-31', '36')
('2010-09-30', '31')
('2010-06-30', '28')
('2010-03-31', '21')
('2009-09-30', '46')
('2009-06-30', '27')
('2022-03-31', '18756')
('2021-12-31', '17719')
('2021-09-30', '13757')
('2021-06-30', '11958')
('2021-03-31', '10389')
('2020-12-31', '10744')
('2020-09-30', '8771')
('2020-06-30', '6036')
('2020-03-31', '5985')
('2019-12-31', '7384')
('2019-09-30', '6303')
('2019-06-30', '6350')
('2019-03-31', '4541')
('2018-12-31', '7226')
('2018-09-30', '6824')
('2018-06-30', '4002')
('2018-03-31', '3409')
('2017-12-31', '3288')
('2017-09-30', '2985')
('2017-06-30', '2790')
('2017-03-31', '2696')
('2016-12-31', '2285')
('2016-09-30', '2298')
('2016-06-30', '1270')
('2016-03-31', '1147')
('2015-12-31', '1214')
('2015-09-30', '937')
('2015-06-30', '955')
('2015-03-31', '940')
('2014-12-31', '957')
('2014-09-30', '852')
('2014-06-30', '769')
('2014-03-31', '621')
('2013-12-31', '615')
('2013-09-30', '431')
('2013-06-30', '405')
('2013-03-31', '562')
('2012-12-31', '306')
('2012-09-30', '50')
('2012-06-30', '27')
('2012-03-31', '30')
('2011-12-31', '39')
('2011-09-30', '58')
('2011-06-30', '58')
('2011-03-31', '49')
('2010-12-31', '36')
('2010-09-30', '31')
('2010-06-30', '28')
('2010-03-31', '21')
('2009-09-30', '46')
('2009-06-30', '27')

In [ ]:
#Result:
#database name  “Tesla.db”. We saved the connection to the connection object.
#Next time we run this file, it just connects to the database, and if the database is not there, it will create one.